body {
 background-image: linear-gradient(to bottom left, navy, #c5b358);
}
.me {
 margin: auto;
  width: 50%;
  padding: 10px;
font-family: 'Times New Roman', Times, serif;
font-size: large;
color: white;
}
img {
 max-width: 250px;
 padding: 1rem;
 position: relative;
 background: linear-gradient(to right, navy, #c5b358);
 padding: 3px;
}
.page {
 font-family: Arial, Helvetica, sans-serif;
 margin: auto;
 width: 50%;
 padding: 10px;
}